#map {
    height: 500px;
    width: 600px;
}

body {
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing {
    display: flex;
    justify-content: center;
}

.list {
    overflow: scroll;
    height: 500px;
}
